@font-face {
    font-family: 'hattori_hanzolight_italic';
    src: url('../fonts/Hattori_Hanzo_Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #e5eef0;
}

.no-js .top-bar {
    display: none;
  }
  
@media screen and (min-width: 40em) {
    .no-js .top-bar {
        display: block;
    }

    .no-js .title-bar {
        display: none;
    }
}

a {
    color: #207EBA;
}

ul.triangle-bullets {
    list-style: none;
}

ul.triangle-bullets li:before {
    font-family: FontAwesome;
    content: "\2023";
    display: inline-block;
    padding-right: 6px;
    font-weight: bold;
    list-style: none;
    font-size: 1.3em;
    vertical-align: baseline;
}

th {
    text-align: left;
}

.green {
    color: #58BA00;
}

.light-green-background {
    background-color: #ecf7f9 !important
}

.panel {
    margin-top:12px;
    border-radius: 10px;
    padding:20px;   
    min-height: 80px;
    margin-bottom: 20px;
    background-color: #ffffff;
    word-wrap: break-word;
}

.panel.left-panel h4 {
    font-size: 32px;
}

.dark-panel {
    background-color: #2C3E52;
    color:#ffffff;
    font-weight: bold
}


.dark-panel h5 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size:23px;
    text-transform: capitalize;
    padding-bottom: 10px
}

.info-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.align-top-right {
    float: right;
    top: 0px;
    position: relative;  
}

.panel h4 {
    font-size: 24px;    
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #000000;
}

h4.primary:after {
    background: url(/site/images/header-separator.png);
    content: " ";
    height: 14px;
    display: block;
}

h5 {
    font-family: lato;
}

h6 {
    font-family: lato;
    display: block;
    clear: both;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}



.header-top-main {
    padding: 25px;
    background-color: #ffffff;
    color: #247db4;
}

.header-top-main .commissioners-section {
    border-left: 1px solid #42708e;
    padding-left: 15px;
}

.header-top-main .commissioners-section .commissioners-title {
    color: #000000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
}

.header-top-main .commissioners-section .commissioners-chair {
    font-weight: bold
}

.header-top-main .links-search-section {
    font-weight: bold;
    text-transform: capitalize
}

.header-top-main .links-search-section i {
    font-size: 16px;
    padding-right: 5px;
}

.header-top-main .links-search-section .header-links {
    float: right;
}

.header-top-main .links-search-section .header-links a {    
    padding: 0px 8px;
    font-size: 12px;
    border-left: 2px solid #247db4;
}

.header-top-main .links-search-section .header-profile  {    
    float: right;
}

.header-top-main .links-search-section .header-profile a {    
    padding: 0px 8px;
    font-size: 12px;
    border-left: 2px solid #247db4;
}

.header-top-main .links-search-section .header-profile a:first-child  {    
    padding-right: 8px;
    padding-left: 0px;
    font-size: 12px;
    border-left: none;
}

.header-top-main .links-search-section .header-profile a i {    
    font-size: 12px;
}

.header-search {
    margin-top:20px;
    background-color: transparent;
    float: right;
}

.header-search a {
    font-size: 14px;
}

.header-search ul {
    background-color: #ffffff;
    border-radius: 10px;
}

.header-search input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #EBEBEB;
    color: #797979;
    font-weight: bold;
    border: none;
    padding: 15px;
    min-width: 193px;
    max-width: 320px;
    height: 45px;
    font-size: 14px;
}

.header-search button {
    border-radius: 10px;
    height: 45px;
    margin-left: -10px;
    z-index: 10;
    width:52px;
}

.header-top-main .links-search-section .advanced-search {
    margin-top:10px;
    float: right;
}

.title-bar {
    background-color: #2c3e51;
}

.title-bar .header-search {
    margin-top: 0px;
}

.title-bar .advanced-search {
    border: 1px solid #207eba;
    padding: 5px;
    color: #c8f5ff;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    float: left;
    margin: 5px;
    width: 90px;
    text-align: center;
}

.title-bar .menu-icon {
    width: 90px;
    height: 75px;
    color: #c8f5ff;
    padding-top: 47px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #207eba;
    position: absolute;
    right: -3px;
    font-weight: bold;
}

.title-bar .menu-icon::after {
    position: absolute;
    top: 14px;
    left: 25px;
    width: 40px;
    height: 6px;
    background: #fefefe;
    box-shadow: 0 13px 0 #fefefe, 0 26px 0 #fefefe;
    content: '';
}

.top-border {
    border:10px solid #207eba
}

.header-top-menu {
    border-top: 5px solid #207eba;
    background-color: #2c3e51;
}

.header-top-menu li:hover > a::after {
    color:#FFFFFF;
}

.header-top-menu ul:first-child {
    background-color: transparent;
}

.header-top-menu ul {
    background-color: #285E83;
    border: none
}

.header-top-menu a {
    color:#ffffff;
    padding-top: 15px;
}


.header-top-menu:first-child {
    background: transparent;
}

.header-top-menu ul:first-child li {
    padding: 5px 0px;
}

.header-top-menu ul:first-child > li {
    border: none;
}

.header-top-menu > li {
    border: none ;
    justify-content: left !important;
    padding-top: 5px;
    background-color: #2C3E52;
}

.header-top-menu ul li {
    border-bottom: 1px solid #35759F;
    border-top: 1px solid #285E83
}

.header-top-menu ul li:hover {
    background-color: #207EBA;
}

.header-top-menu li.is-active {
    background-color: #285E83;
    color: #ffffff;
}

.header-top-menu li.is-active>a {
    color: #ffffff !important;
    text-align: left
}

.header-top-menu li>:first > a::after {
   display: none !important
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    display: none !important;
    border-color:#ffffff transparent transparent !important
}

.headline-title {
    font-size: 26px;
    font-family: "hattori_hanzolight_italic";    
    margin-top: 70px;
    color: #2C3E52
}

.headline-links-section {
    font-size: 18px;
    padding: 0px;
    margin: 50px 0px 0px 0px;
}

.headline-links-title {
    background-color: #2C3E52;
    color:#ffffff;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    padding-left: 25px
}

.headline-links-body  {
    background-color: #ffffff;
    padding: 15px;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headline-links-body a {
    text-decoration: none;
    color: #58BA00;
    padding-left: 5px;
}

.headline-links-body.triangle-bullets li {
    color: #58BA00;
    margin: 8px 0;
}

.main-tabs-section {
    color: #207EBA;
}

.main-tabs-section .tabs {
    border-radius: 10px;
    margin-top: 40px;    
    background-color: transparent;
}

.main-tabs-section .tabs a {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background-color: #C8DEEC;
    border-left: 1px solid #ffffff;
    min-height: 110px;
    padding: 1.25em;
}

.main-tabs-section ul.tabs.responsive {
    border: none ;
    padding: 0;
    margin: 0px auto;
}

.main-tabs-section .tabs.responsive a {
    font-size: 14px;
    border-radius: 10px;
    margin: 5px 5px;
    width: 160px;
    padding: 20px 2px;
} 

.main-tabs-section .tabs-title>a:focus, 
.main-tabs-section .tabs-title>a[aria-selected=true] {
    background-color: #207EBA;
    color: #FFFFFF
}

.main-tabs-section .first-tab-title {
    background-color: #ffffff;
    padding:30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
}

.main-tabs-section .tabs-title .tab-icon {
    font-size: 30px;
    clear: both;
    display: block;
    padding-bottom: 10px;
}

.main-tabs-section .tabs.show-for-large .tabs-title a[data-tabs-target=tab-commission] {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.main-tabs-section .commisioner-cards .cell {
    margin: 0px auto
}

.main-tabs-section .commisioner-cards .card  {    
    border:none;
    text-align: center;
    width: 180px
}

.main-tabs-section .commisioner-cards .card img {
    width: 160px;
    margin: 0px auto;
}

.main-tabs-section .commisioner-cards .card-section .name {
    color: #58BA00;
    font-weight: bold;
    font-size: 18px
}
.main-tabs-section .commisioner-cards .card-section .title {
    color: #2C3E51;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase
}
.main-tabs-section .commisioner-cards .card-section .twitter-handle {
    font-size: 14px;
    font-style: italic;
    font-weight: bold
}

.main-tabs-section .commisioner-cards .card-section .twitter-handle i {
    display: inline;
    clear: none;
    padding-right: 5px;
}

.recent-news-panel {
    padding:30px
}

.recent-news-panel .news-cards .card {
    border: none;    
}

.recent-news-panel .news-cards .card .card-section {
    padding: none
}

.recent-news-panel .news-cards .card img {
    margin: 0px auto;
    width: 90%
}

.article-title {
    text-transform: capitalize;
    color: #207EBA;
    padding-bottom: 10px;
    font-weight: bold
}

.article-summary {
    color: #797979;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

ul.link-list {
    list-style: none;
    margin-left: 0px;
    float: left;
}

ul.link-list i {
    padding-right: 10px
}

ul.link-list a {
    font-weight: bold;
    float: left;
}

ul.link-list li {
    float: left;
    padding-left: 20px;
}

ul.link-list li:before { 
    content: "";
    border-color: transparent #426097;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    top: 20px;
    left: -20px;
    position: relative;
    color: #426097
}

.footer {
    color: #C1DEEA;
    font-size: 12px;
    background-color: #2c3e52
}

.footer .footer-top {
    background-image: -webkit-gradient(linear, 0 0, 0 428.125, color-stop(0.714, #2b3e52), color-stop(0.943, #243347), to(#212f45));
    background-image: -webkit-linear-gradient(#2b3e52 71.4%, #243347 94.3%, #212f45);
    background-image: -moz-linear-gradient(#2b3e52 71.4%, #243347 94.3%, #212f45);
    background-image: -o-linear-gradient(#2b3e52 71.4%, #243347 94.3%, #212f45);
    background-image: linear-gradient(#2b3e52 71.4%, #243347 94.3%, #212f45);
}


.footer .footer-bottom {
    border-top: 1px #4c657a solid;
    background-color: #2c3e52;
    padding-bottom: 15px;
}

.footer .logo-section {
    margin: 0px auto;
    padding: 15px 0;
}

.footer .logo-section .logo {
    float:left;
}

.footer .site-title-section {
    float:left;
    padding:30px 10px;
}

.footer .site-title-section .state-title {
    color: #92AFBA;
    font-size:16px;
    text-transform: uppercase;
    font-weight: bold
}

.footer .site-title-section .commission-title {
    color: #ffffff;
    font-size:18px;
    font-weight: bold
}

.footer .social-section {    
    padding: 25px;
}

.footer .copyright {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer .privacy-terms {
    font-weight: bold;
    list-style: none;
    text-transform: capitalize;
    margin-left: 0;
}

.footer .privacy-terms li {
   float: left 
}

.footer .privacy-terms a {
    color: #ffffff
}

.footer .social-section i {
    font-size: 24px;
    padding-right: 20px
}

.footer .footer-links {
    padding: 25px;
    font-size: 14px
}

.footer .footer-links .footer-link-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0px;
    padding-top: 10px;
    clear: both;    
}

.footer ul.link-list {
    padding-top: 5px;
}

.footer ul.link-list a {
    color: #C1DEEA;
    font-weight: normal;
}

.footer ul.link-list li {
    clear: both;
    margin: 0;
    padding: 0;
    margin-top: -12px;
    padding-left: 20px;
}

.footer ul.link-list li:before { 
    border-color: transparent #C1DEEA;
    color: #C1DEEA;
    top: 16px;
}

.quick-links {
    padding:10px
}

.quick-links ul {
    margin: 0;
}
.quick-links li {
    padding: 2px 0;
}

.quick-links a {
    color: #C8F5FF;
    font-size: 18px;
    padding-left: 5px;
    font-weight: normal
}

.blurb-dark {
    background-color: #425264;
    color: #C8F5FF;
}

.blurb-dark h4 {
    color: #ffffff
}

.blurb-dark .info-link {
    color: #58BA00;
}

.commissioners-list {
    padding: 10px;
    
}

.commissioners-list a {
    font-size: 12px;
    font-weight: bold;
}

.commissioners-list .commissioners-subtitle {
    color: #797979;
    font-weight: bold
}

.commissioners-list .commisioner-item {
    padding: 30px 0px;
}


.commissioners-list img {
    width: 90%
}

.commissioners-list h5 {
    font-size: 25px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.commissioners-list .commissioner-action-links {
    padding-top: 10px;
}

.commissioners-list .commissioner-action-links a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding-right: 30px
}

.commissioners-list .commissioner-action-links a i {
    padding-right: 10px
}

.commisioner-detail-tabs {
    margin-top: 25px;
}

.commisioner-detail-tabs .tabs-title>a:focus, .commisioner-detail-tabs .tabs-title>a[aria-selected=true] {
    background-color: #247DB4;
    color: #ffffff;
}

.commisioner-detail-tabs .tabs-title>a {
    background-color: #E5EEF0;
    color: #247DB4;
    border-top-left-radius:10px;
    border-top-right-radius:10px
}

.commisioner-detail-tabs .tabs-title {
    background: #E5EEF0
}

.commisioner-detail-tabs .tabs-title>a {
    padding: 10px;
    min-width: 140px;
    text-align: center;
    font-family: lato;
    font-size: 14px;
}

.commisioner-detail-tabs .tabs {
    border: none;
    background: #E5EEF0;
    border-bottom: 2px solid #247DB4;
    border-top-right-radius: 10px;
}

.commisioner-detail-tabs .tabs-content {
    border: none
}

.breadcrumbs {
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 25px;
}

.breadcrumbs a, .breadcrumbs li:last-child {
    font-size: 15px;
    font-family: lato;
    text-transform: capitalize;
}

.breadcrumbs li:not(:last-child)::after {
    margin: 0 .4rem;
    content: "/";
    color: #616e7a;
    font-size: 15px;
}

#commissioner-views.tabs-panel {
    padding:0px
}

#commissioner-views table, #commissioner-views table a {
    font-size: 14px !important;
}

.action-notice {
    border-radius: 15px;
    background-color: #2c3e52;
    padding: 20px;
}

.action-notice .action-notice-title {
    color: #ffffff;
    font-weight: bold;
    font-family: lato;
    font-size: 23px;
    text-transform: capitalize;
}

.action-notice .action-notice-content {
    color: #c0c1c2;
    font-size: 17px;
}

.buttons {
    text-align: center;
    margin-top: 30px;
}

a.button {
    color: #207eba;
    text-transform: uppercase;
    border-radius: 12px;
    width: 206px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 10px;
}

.section h5 {
    font-weight: bold;
    font-family: lato;
    font-size: 20px;
}

.section h6 a {
    font-size: 16px;
}

.section p {
    color: #828282;
    line-height: 20px;
    font-size: 14px;
    font-family: lato;
}

.section a {
    font-weight: bold;
    font-size: 14px;
}

.bullet {
    list-style-type: none;
}

li.bullet:before {
    content: "";
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    top: 20px;
    position: relative;
    margin-left: -15px;
    width: 0;
}


li.bullet.green:before {
    border-color: transparent #58BA00;

}

.divider {
    background-image: url(/site/images/header-separator.png);
    height: 15px;
    margin: 15px 0;
}

.event-details {
    font-family: Lato;
    font-size: 15px;
}

.event-title {
    font-weight: bold;
    color: gray;
    text-transform: uppercase;
    font-size: 13px;
    width: 100px;
    float: left;
}

.event-content {
    display: block;
    clear: both;
    padding-top: 10px;
    color: #797979;
}

.event-date-entry {
    background: #eee;
    padding: 10px;
    font-size: 15px;
    padding-left: 20px;
    margin: 5px;
    border-radius: 5px;
}

.event-logistics {
    line-height: 12px;
}

.event-list-home {
    margin-top: 50px;
}

.event-list-home .event-location {
    color: #797979;
}

.event-list-home .event-organizer {
    color: #797979;
    text-decoration: italic;
}

.event-calendar, .homepage-calendar {
    text-align: center;
}

.event-calendar .rm-calendar.rm-mini {
    max-width: 600px;
}


/* recurme style overrides */
.rm-calendar *, .rm-list * {
    font-family: Lato, arial, sans-serif;
    color: #000;
    border-top: 1px;
}

.rm-calendar h2 {
    border: none;
    background: none;
    color: #000
}

.rm-calendar td {
    padding: 0
}


.rm-month-title {
    font-size: 26px;
}

.rm-calendar a[class*='rm-arrow-'] {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    line-height: 1;
    margin-top: 0.8em;
    padding: 2px 5px;
    border: 1px solid transparent;
    color: #000 !important;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
}

a.rm-arrow-prev {
    float: left;
}
a.rm-arrow-next {
    float: right;
}

.rm-calendar table thead {
    background: none;
    border: none;
}

.rm-calendar th {
    border: none;
}

.rm-calendar td {
    border: 1px solid #b0c3e5;
}

.rm-calendar.rm-mini {
    max-width: 460px;
}

.rm-calendar th, .rm-calendar.rm-mini th {
    font-size: 12px;
    font-weight: bold;
    background: none;
}

.rm-calendar .rm-day-number, .rm-calendar.rm-mini .rm-day-number {
    font-size: 19px;
    text-align: center;
    margin-top: 12px;
    position: relative;
    left: 0px;
}

.rm-calendar .rm-day-inner.has-events .rm-day-number {
    color: #FFF
}

.rm-calendar .rm-day-inner.has-events {
    background-color: #207eba;
    color: #fff;
}

.rm-calendar.rm-mini .rm-day-inner.has-events:after {
    display: none;
}

.rm-calendar-list {
    top: 100%;
    background: #FFF !important;
}

.rm-list .rm-list-day {
    background: none;
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.rm-list .rm-list-day li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #f6f6f6;
    border-radius: 15px;
    height: 60px;
}

.rm-list .rm-list-day h3 {
    vertical-align: middle;
    width: 65px;
    text-transform: uppercase;
    border-right: 1px solid white;
    margin: 0;
    background: #58ba00;
    border-radius: 13px;
    padding: 7px 13px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    top: 0;
    left: -10px;
    height: 60px;
    float: left;
}

.rm-list-month h2 {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 25px;
    padding-top: 15px;
}

.rm-list .rm-date-month {
    font-size: 15px;
    text-transform: uppercase;
    clear: both;
    display: block;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 5px;
}

.rm-list .rm-date-day {
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.rm-list .rm-list-event {
    font-size: 15px;
}

.rm-list .rm-list-day a {
    color: #2c3e51 !important;
    font-weight: bold;
    vertical-align: middle;
}

.rm-list .rm-list-day li {
    vertical-align: middle;
}

h3.list-event-time {
    padding: 17px 6px !important;
    font-weight: bold;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 0 !important;
}

.event-info.card {
    padding: 10px;
    border-radius: 5px;
}

.rm-calendar.rm-mini td:hover {
    background: #b0c3e526;
    font-weight: bold;
    cursor: pointer;
}

h3.list-event-time span {
    padding-bottom: 4px;
}

.dark-calendar-list-entry {
    padding-bottom: 15px;
}

.dark-calendar-list-entry h3.list-event-date {
    border-radius: 13px;
    border: none;
    background: #c8deec;
    height: auto;
    width: auto;
    font-size: 13px;
}

.dark-calendar-list-entry .rm-list-day {
    background: none;
    border: none;
    margin-top: 0;
    padding-top: 0; 
    width: 70px;
}

.dark-calendar-list-entry .rm-date-month {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
}

.dark-calendar-list-entry .list-info-row * {
    color: #FFFFFF;
    font-size: 13px;
}

.dark-calendar-list-entry .event-link a {
    color: #c8f5ff !important;

}

.dark-calendar-list-entry .list-event-details {
    font-style: italic;
}

.blurb-dark .rm-list-month > li > h2 {
    display: none;
}

.blurb-dark .list-info-row {
    padding-left: 5px;
    width: 66%;
}

ul.rm-list-month {
    padding-bottom: 15px;
}

.public-service-hotlines {
    background: #FFFFFF;
    padding-top: 15px;
    vertical-align: middle;
    padding-bottom: 15px;
}

.public-service-hotlines .cell {
    text-align: center;
}

.public-service-hotlines .logo-811 {
    padding-top: 13px;
}

.public-service-hotlines .logo-gas-safety {
    padding-top: 2px;
}

.public-service-hotlines .logo-project-share {
    padding-top: 20px;
}

.glossary-keys {
    text-align: center;
}

.glossary-keys a {
    margin: 7px;
    font-size: 12px;
    font-weight: bold;
}

.glossary-keys a.secondary {
    background-color: #207EBA;
}

.glossary-keys a.secondary {
    background-color: #C8DEEC;
}

.search-result-type {
    font-weight: bold;
}

.search-result-link {
    font-size: 1.2em;
    font-weight: bold;
}

.search-result-details {
    font-size: .9em;
}

.search-result-detail-item {
    padding-right: 15px;
}

.search-result-detail-item-value {
    font-weight: bold;
}

.search-result-row {
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
    list-style: none;
}

.search-result-row i.far {
    font-size: 1.5em;
    color: #207EBA;
    text-align: center;
}

.search-result-row i.far div {
    font-size: .39em;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 3px;
}

.search-result-summary {
    background: #eee;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 1.3em;
    color: #394757
}

.filter-section {
    color: #FFFFFF;
    border-top: 1px solid #4B5868;
    border-bottom: 1px solid #4B5868;
    list-style: none;
    padding: 10px 5px;
    margin: 0;
}
.filter-section h6 {
    color: #BECFDC;
    font-size: 1.4em;
}

.filter-section label {
    color: white;
    font-size: 1em;
}

.sitemap-list li:before {
    color: #207EBA;
}

.sitemap-list li ul {
    padding-left: 1em
}

.sitemap-list a {
    padding-left: 5px
}

.login-panel-dark {
    background-color: #2C3E52;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
    margin-bottom: 20px;
}

    .login-panel-dark form .login-label {
        color: white;
        padding-bottom: 5px
    }

        .login-panel-dark form .login-label:after {
            content: '*';
            color: orange;
            padding-left: 5px;
        }

    .login-panel-dark form .login-label-info {
        color: white;
        padding-bottom: 5px
    }

    .login-panel-dark form .login-label-required {
        color: orange;
        font-size: 11px;
    }

    .login-panel-dark form a {
        color: limegreen;
    }

    .login-panel-dark form .login-input {
        border-radius: 5px;
        height: 50px;
    }

    .login-panel-dark form .login-rememberme {
        color: white;
    }

    .login-panel-dark form .login-button {
        background-color: #14679e;
        color: white;
        padding: 15px;
        border-radius: 10px;
    }

    .login-panel-dark form .login-padding-20 {
        padding-bottom: 20px;
    }

    .login-panel-dark form .login-caret-right {
        width: 10px;
        height: 10px;
        color: limegreen
    }

    .login-panel-dark form .login-info {
        color: lightblue;
        font-style: italic;
        font-family: 'Segoe UI';
        font-size: small;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .login-panel-dark form .login-label.is-invalid-label {
        color: #ff8383;
    }

    .login-panel-dark form .red {
        color: #ff8383;
    }

    .login-panel-dark form .info-icon {
        color: #cc4b37;
        vertical-align: -50%;
    }
  
/* TODO : Need to add this line in SASS File */
.checkbox.primary input[type="checkbox"] + label::before {
    border-radius: 5px;
}

.font-size-small {
    font-size: small;
}

.text-align-center {
    text-align: center;
}

h3.login-header {
    font-weight: bold;
    padding-bottom: 15px
}

.form-error {
    color: #ff8383;
    font-weight: normal
}

.callout.alert label {
    font-style: italic;
    font-size: 0.8125rem;
    color: black;
}

    .callout.alert label.bolder {
        font-style: normal;
        font-size: 1.1rem;
        color: #ea4c37;
        font-weight: bold;
    }

.margin-left-30 {
    margin-left: 30px;
}